body {
  background-color: var(--bg-light);
  color: var(--text-light);
  font-family: var(--font-body);
  transition: background-color 0.4s ease, color 0.4s ease;
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.main-nav a,
.contact-list a {
  text-decoration: none;
  color: var(--accent-blue);
  font-size: 1.1rem;
  border-right: 3px solid var(--highlight-yellow);
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, font-size 0.2s ease;
}

.main-nav a:hover,
.contact-list a:hover {
  background-color: var(--main-blue);
  color: var(--link-hover-light);
  font-size: 1.2rem;
}

body.dark-mode .main-nav a,
body.dark-mode .contact-list a {
  color: var(--accent-blue);
}

body.dark-mode .main-nav a:hover,
body.dark-mode .contact-list a:hover {
  background-color: var(--bg-dark-soft);
  color: var(--link-hover-dark);
  font-size: 1.2rem;
}

.site-header,
footer {
  background-color: var(--main-blue);
  color: white;
}

body.dark-mode .site-header,
body.dark-mode footer {
  background-color: var(--bg-dark-soft);
  color: var(--text-dark);
}
