body{
	background-color: #6DB1BF;/*This was to set the entire webpage the light blue color*/
}

header{
	/*position fixed, and top 0, so the header is permanently at the top of the page no matter where you scroll*/
	top: 0px;
	position:fixed;
	/*display*/
	width: 100%;
	height: 125px;
	/*style*/
	background-color:#1C2541;
	background-image:url("uni.gif");/*I used a background image to create the background pattern for the header*/
	border-bottom: 5px solid #1C2541;
	box-shadow:1px 2px 1px grey;/* adding small details like shadows to webpage elements help make the webpage feel more professional*/

}

nav{
	/*position* I wanted the nav bar (anchor tags to web site sections) to be to the far right, so float right, 
	But not flush with the right of the screen so I added margin right to create some distance  */
	float:right;
	top:28px;
	/*display*/
	margin-right:165px;
	/*since the nav bar is essentially a <ul> item I will style the <ul>, <li>, and <a> tags that are within the nav bar*/
}

nav ul{/*adding display flex and justify-content center helped wil removing all gaps when a:hover is being used,
	justify-content explain how the browser allocates space around a flex container itm, display flex gives an html items 
	the ability to fit to hat the browser decides ids best for a given sreen, and then creates a container, that gets designed
	based on the axisis and parameters of the flex container*/
	display:flex;
	justify-content: center;
	list-style-type: none;/*this removes bullet points that automatically come with <li> items*/

}

nav li{
	display:inline;/*this makes it so the li elements remain inline with the ul container, regardless of their size*/
}

nav a{/* the a tags in the nav bar contain text-data so should deal with styling texts*/
	padding:25px 25px;/* this creates the rectangle shape around the anchor tags*/

	color:#6DB1BF;
	border-right: 3px solid yellow;/*to separate each anchor tag, I added a yellow border to the right of each*/ 
	text-align: center;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-decoration: none;/*removes underline from a tag*/
	font-size: 25px;
}

nav li a:hover{/*designing how it appears to hover over nav bar list items*/
	position: center;
	padding:25px 25px;/*to match the padding around the <a> items*/
	
	background-color: #1C2541;
	color:yellow;
	text-align: center;	
}
h3{/* all subheadings should have the same font and style*/
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 	34px;
	text-align: center;

}
main{
	margin: 0 auto;/*this centers the contents within the /<main></main>*/
	width: 1000px;
	margin-top: 176px;/* so the main class can begin below the nav bar*/

}
hr{
	height:3px;
	width:1000px;
	margin: 25px 0px;/* to create some space around line breaks*/
	
	background-color: yellow;
}


h1,h2{/*<h1> anf <h2> tags are ony used at the topleft of the nav bar, I wanted these 
	tags to lay underneath one another, and they should have the same font*/
	display: inline-block;

  	font-family:  'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', serif;
  	color:#6DB1BF;
}
h1{
	margin-top: 20px;/*so it is not completely flush with the top of the screen like the <header> parent container does*/
	margin-left: 10px;/*to create some space, and it does not flush completely with the left of the screen*/
	position: fixed;

	font-size:65px;
}
h2{
	float:left;/*As an inline-lock dislay item I also wanted this tag to float left and land directly underneath the <h1> tag*/
	padding-left: 165px;/* so the text would be positioned centered underneath the <h1>*/
	margin-top: 85px;/*so it can be below the <h1>*/

	font-size: 32px;
}
h2:hover,h1:hover {
	color:white;
}
p{
	padding: 0px 50px;/*so all <p> have 0 padding on the top and bottom, and 25px on the sides*/

	font-size:20px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-align: center;
}
#introduction{
	color:#1C2541;
	display: inline;/*so that it can begin undeneath the last element(the nav bar)*/
	text-align: left;

	padding:100px 50px 0px 50px; 

}
#about-me{
	display:inline-block;/*so the about me section can have an easily managed background color, it is an inline block item instead of just an inline item*/

	color:white;
	background-color: #1C2541;
}
.circular{/* class named circular to design the circular image of myself*/
    display:inline-block;    
    margin-left:350px;

    border-radius: 50%;/*gives img tag an ovular shape*/
    text-align: center;

}
#contact-me ol{/*ordered list because it was a requirment, yet this could have been a <ul>*/
	padding-top:20px;
	margin:10px 0px 0px 15px;

	font-size:27px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-align: center;
	list-style-type: none;

}
#contact-me a{
	text-decoration: none;
	color:#1C2541;
}
#contact-me a:hover{
	color: #1C2541;
	font-size: 28px;
}
#contact-me h3{
	float: left;
	margin-right: 25px;
}
footer{
	position:relative;/*so the position of the header is relative to the last HTML item*/
   	bottom:0;/*so there are 0px between the bottom of the screen and the footer*/
   	
   	width:100%;
   	height:50px;   /* Height of the footer */
  	padding-top: 20px;
	color:white;
	text-align:center;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	background-color: #1C2541;
}
